head
	meta(http-equiv='content-type', content='text/html; charset=utf-8')
	title #{page.title}
	meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
	meta(name="format-detection", content="telephone=no")
	meta(http-equiv='x-ua-compatible', content='ie=edge')
	meta(name='description', content=page.description)
	meta(name='keywords', content=page.keywords)
	meta(property="og:title" content=page.title)
	meta(property="og:type" content="article")
	meta(property="og:url" content="http://www.patentus.ru/")
	meta(property="og:image" content="images/logo.png")
	link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png?v=1.0.1")
	link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png?v=1.0.1")
	link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png?v=1.0.1")
	link(rel="manifest" href="images/favicon/site.webmanifest?v=1.0.1")
	link(rel="shortcut icon" href="images/favicon/favicon.ico?v=1.0.1")
	meta(name="msapplication-TileColor" content="#da532c")
	meta(name="msapplication-TileImage" content="images/favicon/mstile-144x144.png?v=1.0.1")
	meta(name="msapplication-config" content="images/favicon/browserconfig.xml?v=1.0.1")
	meta(name="theme-color" content="#ffffff")
	include preload
	link(rel='stylesheet', href='css/styles.css')
